.todo-item {
  background-color: var(--white);
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  padding-left: 1.4rem;
  margin-bottom: 1.5rem;
  border-radius: 4px;
  &:last-child {
    margin-bottom: 0;
  }
}

.todo-details {
  display: flex;
  align-items: center;
  gap: 3.6rem;
}

.todo-info {
  display: flex;
  flex-direction: column;
}
.todo-name {
  font-size: 1.4rem;
  color: var(--black-2);
  font-weight: 500;
}

.todo-name-completed {
  text-decoration: line-through;
  opacity: 0.7;
}

.todo-date {
  font-size: 1.2rem;
  color: var(--black-2);
  font-weight: 500;
}

.todo-actions {
  display: flex;
  gap: 1rem;
}

.todo-action {
  background-color: var(--bg-2);
  color: var(--black-2);
  padding: 0.8rem;
  font-size: 1.6rem;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    background-color: var(--gray-2);
  }
}
